body {
  width: 100% !important;
  padding: 0;
  margin: 0;
  overflow-y: hidden; // hide vertical scrollbar

  .main-container {
    width: 100% !important;
    display: flex;
    // justify-content: space-between;

    .info-container {
      // width: 19%;
      // background-color: beige;
      width: 25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-family: "AlibabaPuHuiTi-Medium";
      margin-left: 1.5rem;

      > div {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0.23rem 0.25rem 0 rgba(0, 0, 0, 0.25);
        padding: 1rem;
        box-sizing: border-box;
        margin-bottom: 1rem;
        &.important-work {
          div {
            span:nth-child(2) {
              display: inline-block;
              height: 0.7rem;
              background-color: lightskyblue;
            }
          }
        }
      }
      head {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.75);
      }
      .project-info {
        height: 10rem;
        margin-top: 1.5rem;

        #projectChart {
          height: 10rem;
          width: 23rem;
        }
        .project-progress {
          margin-top: 1rem;
          height: 2rem;
          background: #efefef;
          border-radius: 30px;
          .progress {
            width: 20%;
            height: 2rem;
            background: #0089FE;
            border-radius: 30px;
          }
        }
        .progress-text{
          text-align: center;
          color: rgba(0, 0, 0, 0.75);
          font-size: 1rem;
          line-height: 3rem;
        }
      }
      .person-info {
        height: 20rem;
        .person-table{
          margin-top: 1rem;
          color: rgba(0, 0, 0, 0.75);
          text-align: center;
          table{
            width: 100%;
          }
          thead{
            color: rgba(0, 0, 0, 0.45);
          }
        }
      }
    }

    .map-container {
      // width: 80%;
      width: 88rem;
      margin-left: 2rem;
      margin-top: 1.5rem;

      .mapBox {
        width: calc(100% - 3rem);
        height: 43rem;
        padding: 0 1.5rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

        .mapNav {
          display: flex;
        }
        .mapNav > div {
          margin: 0 0.5rem 0.5rem 0;
          width: 5rem;
          line-height: 2rem;
          text-align: center;
          border: 1px solid;
        }
      }

      #container {
        background-color: beige;
        width: 100%;
        height: 40rem;

        .amap-marker {
          .amap-overlay-text-container {
            color: blue;
            background-color: transparent;
            border: none;
            font-weight: bold;
            font-size: 20px;
          }

          .project-base-star,
          .station-name-marker {
            font-size: 30px;
            background-color: blue;
            width: 15px;
            height: 15px;
            border-radius: 15px;
          }

          .project-base-star {
            background-color: red;
          }
        }
      }

      .video-container {
        width: 100%;
        box-sizing: border-box;
        padding: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > video {
          width: 16rem;
        }
      }
    }
  }
}
