@font-face {
  font-family: "AlibabaPuHuiTi-Bold";
  src: url(../font/Alibaba-PuHuiTi-Bold.otf) format('opentype');
}

@font-face {
  font-family: "AlibabaPuHuiTi-Medium";
  src: url(../font/Alibaba-PuHuiTi-Medium.otf) format('opentype');
}

@font-face {
  font-family: "AlibabaPuHuiTi-Regular";
  src: url(../font/Alibaba-PuHuiTi-Regular.otf) format('opentype');
}